<!doctype html>
<html>
  <head>
    <title>mimcoskin | plant based skinCare</title>
    <!-- Basic meta tags -->
    <meta charset="utf-8" />
    <meta name="description" content="100% plant powered effective skincare" />
    <meta
      name="keywords"
      content="Mimco Skin, skincare, self-care, <%= productName %>, skincare products"
    />
    <meta name="author" content="Mimco Skin" />
    <meta name="robots" content="index, follow" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Rosa Serum - MimcoSkin" />
    <meta
      property="og:description"
      content="Plant-based Rosa Serum by MimcoSkin – deeply hydrating, antioxidant-rich skincare designed for radiant, healthy skin."
    />
    <meta
      property="og:image"
      content="https://scontent-cpt1-1.cdninstagram.com/v/t51.2885-19/472646143_2921107761431390_5983162876199356269_n.jpg?stp=dst-jpg_s320x320_tt6&_nc_ht=scontent-cpt1-1.cdninstagram.com&_nc_cat=102&_nc_oc=Q6cZ2QEufaSByWO4Ix3iS0oh8SNCGDGtxb8YbsmLSTK2D5Ma9W4SlpWtg-VtJ6HZLgAyk-c&_nc_ohc=cvXuWDP7kjUQ7kNvwEdua7g&_nc_gid=oiWjkNLoHz7YJqRzJO4oEA&edm=AOQ1c0wBAAAA&ccb=7-5&oh=00_AfIWCAvb5U9CmMD5gYqYvw5GI5kFr16iJE_j0lkY4_1WjQ&oe=68214828&_nc_sid=8b3546"
    />
    <meta property="og:url" content="https://mimcoskin.co.za/rosa-serum" />
    <meta property="og:type" content="product" />
    <meta property="og:site_name" content="MimcoSkin" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- 🔥 Google Analytics Tracking Code - Replace with your Measurement ID -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SQYB2XNK8K"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-SQYB2XNK8K') // Replace with your GA Measurement ID
    </script>
  </head>

  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
