@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
body {
  overflow-x: hidden;
}
.canvaimage {
  max-width: 110%;
  max-height: 100%;
  margin-right: 0px;
}
.pl {
  max-width: 160% !important;
  max-height: 130% !important;
  margin-right: 0px;
}
.add-to-cart-button {
  color: black;
  border: solid 1px black; /* Same border style */
  border-radius: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 12px; /* Unified font size */
  height: 30px; /* Button height */
  padding: 7.6px 10px; /* Padding for bigger buttons */
  box-shadow: none !important; /* Remove default shadow */
}
.hero-btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px 55px;
  font-size: 12px;

  cursor: pointer;
  transition: background 0.3s ease;
  border: solid 1px rgb(255, 255, 255); /* Same border style */
  border-radius: 3px;
}

.title-font {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700; /* Adjust for boldness if needed */
  letter-spacing: -0.08em;
  font-size: 35px;
  text-align: left;
}
.title-font-mindcare {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700; /* Adjust for boldness if needed */
  letter-spacing: -0.08em;
  font-size: 40px;
  text-align: left;
  color: #f7adbe;
  margin-top: 70px;
}

.title-font-mindcare-bundle {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700; /* Adjust for boldness if needed */
  letter-spacing: -0.08em;
  font-size: 30px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}

.title-font-mindful {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700; /* Adjust for boldness if needed */
  letter-spacing: -0.08em;
  font-size: 55px;
  text-align: center;

  color: #f7adbe;
  margin-bottom: 0px;
  margin-right: 120px;
}

.title-font-mindful2 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700; /* Adjust for boldness if needed */
  letter-spacing: -0.08em;
  font-size: 40px;
  text-align: center;

  color: #f7adbe;
  margin-bottom: 0px;
  margin-right: 120px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
  margin-left: 60px;
}
.description-font {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

@keyframes scrollText {
  0% {
    transform: translateX(0); /* Start at the left */
  }
  100% {
    transform: translateX(-100%); /* Move to the left fully */
  }
}

.heroserum {
  margin-top: 50px;
}

/* Target the swiper navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: black !important; /* Make the arrows black */
}

.mindful-skincare-section {
  position: relative;
  padding: 40px;

  background-repeat: no-repeat;
  background-size: contain; /* Or use "cover" for full coverage */
  background-position: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px; /* Set height */

  background-size: cover;
  background-position: center;
}

/* Rotate animation */

/* Optional: Change the background color for better visibility */
.swiper-button-next,
.swiper-button-prev {
  background-color: transparent !important; /* Optional: Make the background transparent */
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Always 2 items per row */
  gap: 20px; /* Add spacing between items */
}
.product-pair {
  display: flex;
  gap: 20px;
}

.product-item {
  flex: 1;
  /* Add this for responsive behavior */
  max-width: 100%; /* Ensures it shrinks properly on smaller screens */
}

.add-to-cart-button2 {
  color: black;
  border: solid 1px black; /* Same border style */
  border-radius: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 12px; /* Unified font size */
  height: 40px; /* Button height */
  padding: 7.6px 10px; /* Padding for bigger buttons */
  box-shadow: none !important; /* Remove default shadow */
  background-color: white;
  margin-top: 10px;

  padding-right: 20px;
  padding-left: 20px;

  margin-right: 100px;
}

.custom-image {
  width: 120%;
  height: 470px;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Hover effect for the active slide */
.swiper-slide-active .custom-image {
  transform: scale(1.1); /* Scale the image to 110% of its original size */
}

/* Optionally, you can add a transition to the swiper-slide for smooth animation */
.swiper-slide {
  transition: transform 0.3s ease-in-out;
}

/* Wrapper to ensure images don't get cut off */
.slide-image-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 400px; /* Consistent height */
  width: 300px; /* Ensures circular shape */
  border-radius: 50%; /* Makes it a circle */
  overflow: hidden; /* Prevents image overflow */
  transition: transform 0.3s ease;
}

/* Ensures the image is properly positioned */
.slide-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 50%; /* Keeps the image circular */
  object-position: center; /* Centers the image to avoid cutting off top */
}

/* Active slide styling */
.active-slide {
  transform: scale(1.2);
}

.swiper-horizontal {
  touch-action: pan-y;
  padding-right: 40%;
  padding-left: 5%;
}

.container {
  display: flex;

  margin-top: 100px;
  align-items: center;
  min-height: 50vh; /* Full page height */
}
.container-top {
  display: flex;

  margin-top: 10px;
  align-items: center;
  min-height: 50vh; /* Full page height */
}
.container-M {
  margin-bottom: 100px;
}

.image-text-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  height: 110px;
}

.oddimage {
  width: 300px;
  margin-left: 200px; /* Add spacing between image and text */
  transition: transform 0.2s ease-out;
  animation: rotate 5s linear infinite; /* Adjust duration as needed */
  margin-bottom: 100px;
}

.text-message {
  font-size: 16px; /* Customize as needed */
}

.minfullparagraph {
  margin-bottom: 100px;

  margin-top: 5px;
}

.ptag {
  text-align: center;
  margin-left: 100px;
  margin-right: 200px;
}

.q-pa-md {
  padding: 0 !important;
  padding-top: 0px !important;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.font-open-text {
  font-family: 'OpenText', sans-serif;
}

.container_bundles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between blocks */

  margin-top: 30px;
  margin-bottom: 30px;
}

.block-class {
  max-width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column; /* Stack image and text */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.block-class img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures image fills the area */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.text-content {
  display: flex;
  justify-content: space-between; /* Ensures the text and button are spaced apart */
  align-items: center; /* Aligns the button and text vertically */
  width: 100%; /* Ensures the container takes up full width of the block */
  padding-right: 20px;
}
.text-content-1 {
  display: flex;
  flex-direction: column; /* Allows the elements to stack vertically */
  justify-content: flex-start; /* Ensures everything starts from the top */
  align-items: flex-start; /* Aligns the text to the left */
  width: 100%;
  padding-right: 20px;
}

.add-to-cart-button-bundles {
  color: black;
  border: solid 1px black; /* Same border style */
  border-radius: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 12px; /* Unified font size */
  height: 30px; /* Button height */
  padding: 4px 6px; /* Padding for bigger buttons */
  box-shadow: none !important; /* Remove default shadow */
  margin-top: 10px;
}

.title-font-second {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700; /* Adjust for boldness if needed */
  letter-spacing: -0.08em;
  font-size: 20px;

  margin-top: 3px;
}

.title-font-second-bundle {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700; /* Adjust for boldness if needed */
  letter-spacing: -0.08em;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 3px;
}

.savelabel {
  font-family: 'Lucida Sans&quot', 'Lucida Sans Regular&quot', 'Lucida Grande&quot',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 110px;

  margin-top: 20px;
  padding: 8px 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.video-container {
  width: 100%; /* Adjust width as needed */
  height: 600px; /* Adjust height */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-img {
  width: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-to-cart-button-shopall {
  color: black;
  border: solid 1px black;
  border-radius: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 12px;
  height: 30px;
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 10px;

  box-shadow: none !important;
}

.add-to-cart-button-shopall-canva {
  color: black;
  border: solid 1px black;
  border-radius: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 12px;
  height: 50px;
  width: 300px;
  margin-top: 10px;
  background-color: white;
  box-shadow: none !important;
}

.shipping-banner {
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  background-color: #000000; /* Background color */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden; /* Hide the overflowing text */
}

.shipping-banner span {
  display: inline-block;
  white-space: nowrap; /* Prevent the text from wrapping */
  animation: scrollText 10s linear infinite; /* Adjust the scroll speed */
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.bundlediv {
  margin-right: 200px;
}

.title-font-mindcare-bundle1 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700; /* Adjust for boldness if needed */
  letter-spacing: -0.08em;
  font-size: 30px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}


@media (max-width: 640px) {
  .container_bundles {
    justify-content: center; /* Ensure blocks are centered */
    padding-left: 0px;
    margin-top: 3px;
    margin-bottom: 10px;
  }
  .bundlediv {
    margin-right: 0px;
  }
  .canvaimage {
    max-width: 125% !important;
    max-height: 100%;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
    margin-left: 6px;
  }
  .block-class {
    width: 170px; /* Adjust size as needed */
    height: 320px;
    display: flex;
    flex-direction: column; /* Stack image and text */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }

  .allpagetop {
    margin-top: 600px;
  }
  .video-img {
    width: 100%;
    height: 600px;
  }
  .title-font-mindful {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700; /* Adjust for boldness if needed */
    letter-spacing: -0.08em;
    font-size: 40px;
    text-align: center;
    color: #f7adbe;
    margin-top: 50px;
    line-height: 1;
    margin-bottom: 20px;
  }

  .overlay-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent dark background */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
  }

  .bottom-text {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .bottom-button {
    padding: 8px 16px;
    background-color: #fff;
    border: none;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .bottom-button:hover {
    background-color: #f0f0f0;
  }

  .savelabel {
    padding: 8px 15px !important;
    font-family: 'Lucida Sans&quot', 'Lucida Sans Regular&quot', 'Lucida Grande&quot',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 82px;
    padding: 7px 9px;
    margin-top: 20px;
    font-size: small;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  .product-pair {
    flex-direction: column; /* Stack products vertically */
    gap: 20px; /* Maintain spacing between stacked products */
  }

  .product-item {
    flex: none; /* Avoid forcing width */
    width: 100%; /* Full width on mobile */
  }

  .image-container {
    background-image: url('/assets/PLANT SKIN MOBILE.png'); /* Default desktop image */
    background-size: contain; /* Ensures full image is visible */
  }

  .image-style:nth-child(2),
  .image-style:nth-child(3) {
    display: none; /* Hide second and third image */
  }

  .slide-image {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%; /* Keeps the image circular */
    object-position: center; /* Centers the image to avoid cutting off top */
  }
  .heroserum {
    margin-top: 10px;
  }

  .active-slide {
    transform: scale(1.4);
  }

  .swiper-horizontal {
    touch-action: pan-y;

    padding-right: 30%;
    padding-left: 5%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 1px;
    min-height: 10vh; /* Full page height */
  }
  .container-M {
    display: flex;
    margin-left: 10px;
    margin-top: 100px;
    align-items: center;
  }
  .container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 1px;
    min-height: 10vh; /* Full page height */
  }

  .image-text-wrapper {
    flex-direction: column;
    height: 100%;
  }

  .oddimage {
    width: 200px;
    max-width: 500px;
    margin-right: 0px; /* Add spacing between image and text */
    margin-left: 0px;
    animation: rotate 5s linear infinite; /* Adjust duration as needed */
    margin-bottom: 0px;
  }

  .text-message {
    font-size: 16px; /* Customize as needed */
  }

  .ptag {
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .minfullparagraph {
    margin-bottom: 0px;

    margin-top: 5px;
    margin-right: 0px;
    padding-left: 10px;
  }

  .title-font-mindful {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700; /* Adjust for boldness if needed */
    letter-spacing: -0.08em;
    font-size: 55px;
    text-align: center;
    color: #f7adbe;
    margin-top: 70px;
    line-height: 1;
    margin-right: 10px;
  }

  .title-font-mindcare {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700; /* Adjust for boldness if needed */
    letter-spacing: -0.08em;
    font-size: 40px;
    text-align: left;
    color: #f7adbe;
    margin-top: 50px;
    line-height: 1;
    padding-left: 10px;
    margin-right: 1px;
  }

  .title-font-mindcare-bundle {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700; /* Adjust for boldness if needed */
    letter-spacing: -0.08em;
    font-size: 40px;
    text-align: left;
    color: #000000;
    margin-top: 50px;
    line-height: 1;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 25px;
  }

  .add-to-cart-button2 {
    color: black;
    border: solid 1px black; /* Same border style */
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
      Geneva, Verdana, sans-serif;
    font-size: 12px; /* Unified font size */
    height: 40px; /* Button height */
    padding: 7.6px 10px; /* Padding for bigger buttons */
    box-shadow: none !important; /* Remove default shadow */
    background-color: white;
    margin-top: 10px;

    padding-right: 20px;
    padding-left: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .custom-image {
    width: 160%;
    height: 470px;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
  }

  /* Hover effect for the active slide */
  .swiper-slide-active .custom-image {
    transform: scale(1.1); /* Scale the image to 110% of its original size */
  }
  .product-pair {
    flex-direction: column; /* Stack products vertically */
    gap: 20px; /* Maintain spacing between stacked products */
  }

  .product-item {
    flex: none; /* Avoid forcing width */
    width: 100%; /* Full width on mobile */
  }
  .add-to-cart-button {
    font-size: 9px; /* Adjust font size for smaller screens */
    height: 25px; /* Adjust button height for mobile */
    padding: 5px 83px; /* Adjust padding for smaller buttons */
  }

  .add-to-cart-button-shopall {
    font-size: 9px; /* Adjust font size for smaller screens */
    height: 25px; /* Adjust button height for mobile */
    color: black;
    border: solid 1px black; /* Same border style */
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
      Geneva, Verdana, sans-serif;
    box-shadow: none !important; /* Remove default shadow */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    bottom: auto;
    margin-bottom: 20px;
    padding-bottom: 24px;
    padding-top: 10px;
  }

  .video-container {
    width: 100%; /* Adjust size as needed */
    height: 600px; /* Adjust height */
    overflow: hidden;
    position: relative;
  }

  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
